@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
    <br />
}
<html>
    <head>

    </head>
    <body style="margin-bottom:0px">
    <div class="container w-100">
        <div class="row">
        <div class="col-3">
            <div class="create-button col-8 col-sm-8 offset-sm-2 offset-2 my-3 my-sm-2 text-center">
                    <a class="btn btn-primary text-center" asp-action="New" asp-controller="Groups">Create Group</a>
            </div>
        </div>
        <div class="col-9 d-flex flex-row justify-content-between">
            <div class="create-button col-3 col-sm-3  my-3 my-sm-2 text-center">
                <h3 class="text-center">@ViewBag.Group.Name</h3>
            </div>
            <div class="create-button col-3 col-sm-3  my-3 my-sm-2 text-center">
                <a class="btn btn-secondary text-center" asp-action="Index" asp-controller="Groups">Settings</a>
            </div>
        </div>
    </div>

        <div class="row d-flex flex-row justify-content-sm-between" >
            <div class="col-sm-3 col-3" style="height:75vh">
                <div class="card w-100 my-3 border-1" >
                    <div class="card-body" style="overflow-y: auto">
                        @foreach (Proiect_DAW.Models.Group groups in ViewBag.Groups)
                        {
                                if (groups.Id == ViewBag.Group.Id)
                                {
                                    <a class="card my-3 bg-secondary text-black text-decoration-none" asp-controller="Groups" asp-action="Show" asp-route-id="@groups.Id">
                                        <div class="card-body">
                                            <h5 class="card-subtitle rounded-2 ">@groups.Name</h5>
                                        </div>
                                    </a>
                                }

                                else
                                {
                                    <a class="card my-3 text-black text-decoration-none" asp-controller="Groups" asp-action="Show" asp-route-id="@groups.Id">
                                        <div class="card-body">
                                            <h5 class="card-subtitle rounded-2 ">@groups.Name</h5>
                                        </div>
                                    </a>
                                }

                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-9 d-flex flex-row" style="height:75vh">
                <div class="card w-100 my-3 border-4">
                    <div class="card-body d-flex flex-column" style="overflow-y: scroll">
                        @foreach (Proiect_DAW.Models.Message message in ViewBag.Messages)
                        {
                            if (message.Sender.Id != ViewBag.User)
                            {
                                <div class="card col-5 bg-secondary mb-2 align-self-start">
                                    <h5 class="card-header">@message.Sender.Profile.FirstName</h5>
                                <h5 class="card-body rounded-2 ">@message.Text</h5>
                                </div>
                            }
                            else{
                                <div class="card col-5 bg-primary mb-2 d-flex align-self-end">
                                    <div class="card-header ">
                                        <h5>You</h5>
                                        <a asp-action="Edit" asp-all-route-data="new {id=message.Id}"><i class="bi bi-gear"></i></a>
                                    </div>
                                <h5 class="card-body rounded-2 ">@message.Text</h5>
                                </div>
                            }

                        }
                    </div>
                    <form class="card-footer d-flex flex-row m-0 p-0 border-0 " method="post" action="/Groups/Show/@ViewBag.Group.Id">
                        <input type="text" class="form-control mb-1" placeholder="Type your message here" name="Text">
                        @Html.ValidationMessage("Text", null, new { @class = "text-danger"})
                        <div class="input-group-append">            
                            <button class="btn btn-outline-secondary mb-1" type="submit">Send</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </body>

</html>
