@model Proiect_DAW.Models.Profile

<h2 class="text-center mt-5">Create your profile</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Profiles", method: FormMethod.Post))
            {

                @Html.Label("Username", "Profile Username")
                <br />
                @Html.TextBox("Username", null, new { @class = "form-control" })

                <br />

                @Html.Label("First Name", "Your First Name")
                <br />
                @Html.TextBox("FirstName", null, new { @class = "form-control" })

                <br />

                @Html.Label("Last Name", "Your Last Name")
                <br />
                @Html.TextBox("LastName", null, new { @class = "form-control" })

                <br />
                <br />  

                @Html.Label("Description", "Your Profile Description")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })
                <br />

                <label>Select Your Profile Visibility</label>
                <br />
                @Html.Editor("IsPrivate", new { @class = "form-check" })
                <br />

                <br />

                <button class="btn btn-success" type="submit">Create Profile</button>

            }

        </div>
    </div>
</div>
