@model Proiect_DAW.Models.Profile

<div class="card-body">

    <h3>Username: @Model.Username</h3>

    <h4>Name: @Model.FirstName  @Model.LastName</h4>

    <div>Birthdate: @Model.ProfileBirthdate</div>

    <div>Is private: @Model.IsPrivate</div>

</div>